.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-lg;
  margin-top: $spacing-lg;
}

.filters-search {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  flex: 1;
  border-radius: $spacing-sm;
  padding: $spacing-sm;
  background-color: #fff;
  transition: border-color 0.3s ease;

  i {
    color: #888;
    font-size: 1.2rem;
  }

  input {
    border: none;
    outline: none;
    flex: 1;
    font-size: $spacing-md;
    padding: $spacing-sm;
    color: #333;
    background-color: transparent;
    &::placeholder {
      color: $muted-text-color;
    }
  }
}

.filters-city {
  select {
    width: 100%;
    min-width: 280px;
    padding: $spacing-md;
    border-radius: $spacing-sm;
    border: none;
    border-right: $spacing-sm solid transparent;
    background-color: #fff;
    font-size: $spacing-md;
    color: #333;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
    }
  }
}
